@page
@model OficinaApp.Web.Pages.Clientes.IndexModel

@{
    ViewData["Title"] = "Clientes";
}

<h1>Clientes</h1>
<a asp-page="Create" class="btn btn-primary mb-3">
    Novo Cliente
</a>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>CPF</th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var cliente in Model.Clientes)
        {
            <tr>
                <td>@cliente.Nome</td>
                <td>@cliente.Telefone</td>
                <td>@cliente.Email</td>
                <td>@cliente.CPF</td>
                <td>
    <a asp-page="Edit"
       asp-route-id="@cliente.Id"
       class="btn btn-warning">
       Editar
    </a>
</td>
            </tr>
        }
    </tbody>
</table>